{{#footer}}
  <footer class="ampstart-footer flex flex-column items-center border-box px2 pt2 pb4">
    <div class="ampstart-social-box">
      {{#social}}
        <amp-social-share type="{{type}}"
          {{#params}}
            data-param-{{attr}}="{{value}}"
          {{/params}}
        >
        </amp-social-share>
      {{/social}}
    </div>

    <nav class="ampstart-footer-nav">
      <ul class="list-reset flex flex-wrap">
        {{#links}}
          <li class="px1"><a class="text-decoration-none caps" href="{{url}}">{{text}}</a></li>
        {{/links}}
      </ul>
    </nav>
    {{#copyright}}
      <small class="my1">{{text}}</small>
    {{/copyright}}
  </footer>
{{/footer}}