{{#fullpage-hero}}
  <figure class="ampstart-image-fullpage-hero m0 relative">
    <amp-img src="{{narrow-img}}" srcset="{{wide-img}} 1400w, {{narrow-img}} 640w" width="640" height="960" layout="responsive" class="" heights="(min-width:640px) 67%, 150%"></amp-img>
    <figcaption class="absolute right-0 bottom-0 left-0">
      <h1 class="ampstart-image-heading h2 mb4 pl2 pb2">{{{heading}}}</h1>
      {{#readmore}}
        <a class="ampstart-readmore py3 caps h5 line-height-2 text-decoration-none center" href="#{{content-id}}">{{text}}</a>
      {{/readmore}}
    </figcaption>
  </figure>
{{/fullpage-hero}}