{{#image-with-heading}}
  <figure class="ampstart-image-with-heading  m0 relative py1">
    <amp-img src="{{url}}" width="{{width}}" height="{{height}}" layout="responsive"></amp-img>
    <figcaption class="absolute right-0 bottom-0 left-0">
      <header class="ampstart-image-heading px2 py2 line-height-4">{{{heading-html}}}</header>
    </figcaption>
  </figure>
{{/image-with-heading}}

{{#image-with-caption}}
  <figure class="ampstart-image-with-caption m0 relative py1">
    <amp-img src="{{url}}" width="{{width}}" height="{{height}}" layout="responsive"></amp-img>
    <figcaption class="h5">
      {{caption}}
      {{#credit}}
        <span class="ampstart-image-credit">
          {{credit-prefix}}
          {{#author}}
            <a href="{{url}}" role="author">{{text}}</a>
          {{/author}}
        </span>
      {{/credit}}
    </figcaption>
  </figure>
{{/image-with-caption}}