/* Image with heading */
.ampstart-image-heading {
  color: var(--color-font-primary);
  background: linear-gradient(to top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
}

.ampstart-image-heading > * {
  margin: 0;
}

/* Image with caption and credit */
.ampstart-image-with-caption figcaption {
  color: var(--color-font-subtitle);
  line-height: var(--line-height-2)rem;
}

.ampstart-image-with-caption figcaption > .ampstart-image-credit {
  display: block;
  font-weight: bold;
}