.CodeMirror-hints {
  padding: 4px 8px;
  box-shadow: 0 0 5px 2px rgba(0,0,0,.1);
  font-family: consolas, menlo, monospace;

  /** Don't want scroll bars showing up on page */
  max-height: 60%;
  font-size: 80%;
}

.CodeMirror-hint {
  margin: 0;
  padding: 2px;
}

li.CodeMirror-hint-active {
  background: var(--accent-color);
  color: var(--light-color);
  padding: 2px;
}
