\{{#jsonWebpage.selected}}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Webpage",
  "url": "https://www.example.com",
  "name": "My Webpage",
  "headline": "webpage title",
  "description": "Here is the description",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://www.example.com"
  },
  "publisher": {
    "@type": "Organization",
    "name": "The Publisher",
    "logo": {
      "url": "https://www.example.com/logo-blue.svg",
      "width": 175,
      "height": 60,
      "@type": "ImageObject"
    }
  },
  "image": {
    "@type": "ImageObject",
    "url": "https://www.example.com/leader.png",
    "width": 1200,
    "height": 630
  }
}
</script>
\{{/jsonWebpage.selected}}
