<!doctype html>
<html ⚡>
  <head>
    {{{head}}}
    {{> head.html}}
    <style amp-custom>
      {{> css/code.css}}}
      {{> css/material.css}}}
      {{> css/styles.css}}}
      {{{exampleStyles}}}
    </style>
  </head>
  <body>
    <div class="body">
      {{> header.html}}
      {{#sections}}
      <div class="box">
        <div class="column doc {{^inBody}}hide-on-mobile{{/inBody}}">
          {{#markedDoc}}
          <a id="example{{id}}"></a>
          <div class="anchor-trigger">
            {{{markedDoc}}}
          </div>
          <a href="#example{{id}}" class="anchor">
            <div class="anchor-img"></div>
          </a>
          {{/markedDoc}}
        </div>
        <div class="column code hide-on-mobile">
          <pre class="hljs"><code class="html">{{{escapedCode}}}</code></pre>
        </div>
        <div class="column preview">
          {{{preview}}}
        </div>
      </div>
      {{/sections}}
      {{> footer.html}}
    </div>
    {{> analytics.html}}
  </body>
</html>
