<!doctype html>
<html ⚡>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <style amp-custom>
      {{> css/styles.css}}
      {{> css/material.css}}}
      {{{styles}}}
      main {
        margin: 0 auto;
        max-width: 450px;
        padding: 0 16px;
      }
    </style>
    {{> head.html}}
    <style>body {opacity: 0}</style><noscript><style>body {opacity: 1}</style></noscript>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
  </head>
  <body>
    <div class="body">
      {{> header.html}}
      <main>
      <p><a href="https://www.ampproject.org">Accelerated Mobile Pages</a> (short AMP) are a new way to build web pages that render with <a href="https://medium.com/@cramforce/why-amp-is-fast-7d2ff1f48597#.vw1vt1fym">reliable, fast performance</a>.</p>
      <p>AMP-by-Example gives you a hands-on introduction to <a href="https://www.ampproject.org">Accelerated Mobile Pages</a> based on code and live samples. Read the <a href="https://medium.com/@sebabenz/introducing-amp-by-example-dc6118794369#.ganu8ghx6">blog post</a> for more details.</p>
        <ul>
          {{#examples}}
          <li><a href="{{file}}">{{title}}</a></li>
          {{/examples}}
        </ul>
      </main>
      {{> footer.html}}
    </div>
    {{> analytics.html}}
  </body>
</html>
