<!--
  #### Introduction

  TODO: a quick intro
-->
<!doctype html>
<html ⚡>
<head>
  <meta charset="utf-8">
  <!-- #### Setup -->
  <!--
    TODO: explain which components need to be imported
  -->
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <style>body {opacity: 0}</style><noscript><style>body {opacity: 1}</style></noscript>
  <script async src="https://cdn.ampproject.org/v0.js"></script>
</head>
<body>

  <!-- #### Basic Usage -->
  <!--
    TODO: Describe your example here
  -->
  <amp-img src="img/image1.jpg" width=200 height=100></amp-img>

</body>
</html>
