.dialog {
  position: fixed;
  display: flex;
  z-index: 20000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(0,0,0,0.6);
  animation: fadein 0.25s ease-in-out;
  -webkit-overflow-scrolling: touch; 
}
.dialog-content {
  position: relative;
  min-width: 700px;
  margin: 2rem auto auto auto;
  padding: 2rem;
  background-color: #fff;
}
.dialog-content .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  width: 48px;
  height: 48px;
}
@media (max-width: 767px) { 
  .dialog {
    display: block;
    min-width: auto;
    min-height: 100%;
  }
  .dialog-content {
    position: initial;
    padding: 1rem;
    background-color: #fff;
    width: 100%;
    min-height: 100%;
    margin: 0;
  }
  .dialog-content .close {
    position: fixed;
  }
}

