@import '../core';
@import '../../components/images/images';
@import '../../components/navbar/navbar';
@import '../../components/images/fullpage-hero';
@import '../../components/images/images';
@import '../../components/related-section/related-section';
@import '../../components/byline/byline';
@import '../../components/footer/footer';

/**
  * All positioning padding and layout to use HTML-bass -display,z-index etc
    will use css.
  * If a style needs to be applied to a larger group it makes more sense to put
    it in css.
  * Styles for individual elements should be done in HTML-bass.
  * If we end up writing css , try and use bass-variables as much as possible.
*/
body {
  line-height: var(--line-height-3);
}

#content h1 {
  color: var(--color-black);
}

.scenic-hero-heading-text {
  box-decoration-break: clone;
  background: linear-gradient(to bottom, transparent 50%,var(--color-primary) 50%);
  padding: 0 var(--space-2);
}

.scenic-article-category {
  color: var(--color-font-secondary);
  display: block;
}

.scenic-article-subtitle {
  font-size: 1rem;
}

.scenic-related-article h2,
.scenic-related-article h3 {
  color: var(--color-font-default);
  font-weight: normal;
}

a.scenic-article-readmore {
  color: var(--color-font-secondary);
  letter-spacing: 0;
}

:root {
  --color-primary: #9013fe;
  --color-font-primary: #fff;

  --color-secondary: #fff;
  --color-font-secondary: #9013fe;

  --color-font-default: var(--color-grey);
  /*--color-disabled: #9b9b9b;*/
}