@import '../../css/ampstart-base/base-elements';

.ampstart-headerbar {
  background-color: var(--color-primary);
  color: var(--color-font-primary);
  z-index: var(--zindex-highest);
}

.ampstart-sidebar {
  background-color: var(--color-primary);
  color: var(--color-font-primary);
}

.ampstart-nav-item {
  box-sizing: border-box;
  padding: 0 1rem;
  opacity: 0.9;
  border: solid var(--border-width) var(--color-primary);
}

.ampstart-nav-item:focus,
.ampstart-nav-item:hover,
.ampstart-nav-item:active {
  opacity: 1;
  border: solid var(--border-width) var(--color-secondary);
  outline: none;
}

.ampstart-nav-item > * {
  line-height: 2.75rem;
}

.ampstart-headerbar-trigger,
.ampstart-nav a {
  cursor: pointer;
  color: var(--color-font-primary);
  text-decoration: none;
}

.ampstart-headerbar-nav {
  flex: 1;
}

.ampstart-nav-search {
  flex: 1;
  text-align: right;
}

.ampstart-nav-search:focus,
.ampstart-nav-search:hover,
.ampstart-nav-search:active {
  border: solid var(--border-width) var(--color-primary);
}

.ampstart-nav-search input {
  border: none;
  border-radius: var(--border-radius);
}

.ampstart-nav-dropdown {
  flex: 1;
}

.ampstart-nav-dropdown amp-accordion header {
  background-color: var(--color-primary);
  border: none;
}

.ampstart-nav-dropdown amp-accordion ul {
  background-color: var(--color-primary);
}

ampstart-nav-item:hover amp-accordion ul,
.ampstart-nav-item:active amp-accordion ul {
  opacity: 0.9;
}