  <header class="ampstart-headerbar fixed top-0 left-0 right-0 pl3 pr4">
    <a href="#" on="tap:{{sidebar-id}}.toggle"class="ampstart-headerbar-trigger md-hide lg-hide p1">☰</a>
    <amp-img src="{{logo}}" alt="Logo of the scenic times" width="147" height="44" layout="fixed" class="" alt="{{name}}"></amp-img>
    <nav class="ampstart-headerbar-nav ampstart-nav xs-hide sm-hide">
      <ul>
        {{#nav}}
          {{#link}}
            <li class="ampstart-nav-item"><a href="{{url}}">{{text}}</a></li>
          {{/link}}
          {{#dropdown}}
            <li class="ampstart-nav-item ampstart-nav-dropdown">
              <amp-accordion layout="container">
                <section>
                  <header  class="">{{heading}}</header>
                  <ul>
                    {{#options}}
                      <li class="ampstart-nav-item"><a href="{{url}}">{{text}}</a></li>
                      <li class="ampstart-nav-item"><a href="{{url}}">{{text}}</a></li>
                      <li class="ampstart-nav-item"><a href="{{url}}">{{text}}</a></li>
                    {{/options}}
                  </ul>
                </section>
              </amp-accordion>
            </li>
          {{/dropdown}}
        {{/nav}}
        {{#search}}
          <li  class="ampstart-nav-item ampstart-nav-search">
            <input type="text" placeholder="{{text}}"></input>
          </li>
        {{/search}}
      </ul>
    </nav>
  </header>
  <amp-sidebar id="{{sidebar-id}}" class="ampstart-sidebar md-hide lg-hide" layout="nodisplay">
    <nav class="ampstart-sidebar-nav ampstart-nav">
      <ul>
        {{#nav}}
          {{#link}}
            <li class="ampstart-nav-item"><a href="{{url}}">{{text}}</a></li>
          {{/link}}
          {{#dropdown}}
            <li class="ampstart-nav-item ampstart-nav-dropdown">
              <amp-accordion layout="container">
                <section>
                  <header  class="">{{heading}}</header>
                  <ul>
                    {{#options}}
                      <li class="ampstart-nav-item"><a href="{{url}}">{{text}}</a></li>
                      <li class="ampstart-nav-item"><a href="{{url}}">{{text}}</a></li>
                      <li class="ampstart-nav-item"><a href="{{url}}">{{text}}</a></li>
                    {{/options}}
                  </ul>
                </section>
              </amp-accordion>
            </li>
          {{/dropdown}}
        {{/nav}}
        {{#search}}
          <li  class="ampstart-nav-item ampstart-nav-search">
            <input type="text" placeholder="{{text}}"></input>
          </li>
        {{/search}}
      </ul>
    </nav>
  </amp-sidebar>