:root {
  --h1: 3rem;
  --h2: 2rem;
  --h3: 1.5rem;
  --h4: 1.125rem; /*18px*/
  --h5: .875rem;
  --h6: .75rem;
/*
  --bold-font-weight: bold;

  --space-1: .5rem;
  --space-2: 1rem;
  --space-3: 2rem;
  --space-4: 4rem;

  --width-1: 24rem;
  --width-2: 32rem;
  --width-3: 48rem;
  --width-4: 64rem;

  --z1: 1;
  --z2: 2;
  --z3: 3;
  --z4: 4;

  --line-height-1: 1;
  --line-height-2: 1.125;
  --line-height-3: 1.25;
  --line-height-4: 1.5;
  --letter-spacing: 1;
  --caps-letter-spacing: .2em;
  --bold-font-weight: bold;

  --border-width: 1px;
  --border-radius: 3px;
*/
}