@import '../bass-variables';

/* Body */
body {
  color: var(--color-font-default);
}

/* Anchors */
a, a:active, a:visited {
  color: inherit;
}

/* Buttons */
.ampstart-btn {
  box-sizing: border-box;
  font-size: var(--h5);
  height: 1.5rem;
  padding: var(--space-1) var(--space-2);
}

.ampstart-btn:active {
  opacity: 0.8;
}

.ampstart-btn[disabled] {
  opacity: 0.5;
}

.ampstart-btn-primary {
  background-color: var(--color-primary);
  color: var(--color-font-secondary);
}

.ampstart-btn-secondary {
  background-color: var(--color-white);
  color: var(--color-font-primary);
  border: solid var(--border-width) var(--color-border);
}

/* Dropcap */
.ampstart-dropcap {
  padding-top: var(--space-2);
  /** Adding rem just in this place as, not having the rem gives a weird gap
      between the first and second line*/
  line-height: var(--line-height-3)rem;
  margin-top: var(--space-3);
}

.ampstart-dropcap:first-child:first-letter {
  border-top: solid var(--border-width) var(--color-primary);
  color: var(--color-font-secondary);
  font-size: var(--h1);
  font-weight: bold;
  padding-top: var(--space-2);
}

/* Subtitle */
.ampstart-subtitle {
  color: var(--color-font-subtitle);
  font-size: var(--h5);
}

/* Pull quote*/
.ampstart-pullquote {
  border: none;
  border-left: solid 4px var(--color-primary);
  font-size: var(--h3);
  margin-left: 0;
  padding-left: var(--space-2);
}

/* Social box*/

.ampstart-social-box {
  display: flex;
}

.ampstart-social-box > amp-social-share {
  background-color: var(--color-primary);
}

:root {
  --color-white: #fff;
  --color-grey: #4a4a4a;
  --color-black: #000;

  --color-primary: #000;
  --color-font-secondary: #000;

  --color-secondary: #4a4a4a;
  --color-font-primary: #4a4a4a;

  --color-font-default: #000;

  --color-font-subtitle: #4f4f4f;

  --color-disabled: #9b9b9b;

  --color-border: var(--color-black);

  --zindex-sidebar: 9999;
  --zindex-highest: 999;

}