pre, code {
  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
  font-size: 0.9rem;
}
code {
  background: #f9f7f7;
  padding: 8px;
}
.www-component-anchors > li {
  padding: 0;
  margin: 0;
  line-height: 24px;
}
.www-component-desc > p > amp-img {
  display: block;
  margin: 0 auto;
}
.www-component-desc ol,
.www-component-desc ul {
  list-style:inside;
}
.www-component-desc > pre {
  margin-left: 5rem;
  padding: 1rem;
  font-size: 0.9rem;
}
.www-component-desc > pre > code {
  padding: 0;
  font-size: 0.70rem;
}
pre > code {
  padding: 0;
}
.www-header h1 {
  color: #fff;
}
.www-component-desc > pre > code,
.abe-code pre {
  overflow-x: auto;
  white-space: pre;
  padding: 0;
  margin: 0;
}
.www-component-desc {
  margin-bottom: 0rem;
}
.www-component-desc p a {
  text-decoration: none;
  color: #b60845;
}
.www-component-desc:first-child h2 {
  margin-top: 0rem;
}
.www-component-desc h2 {
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.abe-code {
  background: #f9f7f7;
}
.abe-code-preview  {
  margin-bottom: 1rem;
}
.abe-preview, .abe-code {
  flex: 1;
  min-width: 0;
  min-height: 0;
}
.abe-preview {
  background: #fff;
}
.abe-experiment-warning .abe-experiment-warning-buttons {
  justify-content: center;
}


