body {
  background: #f9f7f7;
  opacity: .8;
}
#abe-preview-header {
  background: #fff;
  color: #000;
  height: 56px;
  width: 100vw;
}
#abe-preview {
  background: #fff;
  min-height: 100vh;
  width: 100vw;
  margin: 0 auto; 
  max-width: 960px;
  margin-top: 56px;
}
