body {
  background: #f9f7f7;
  opacity: .8;
}
#abe-preview-header {
  background: #fff;
  color: #000;
  height: 56px;
  width: 100vw;
  z-index: 1;
}
#abe-preview-header > a {
  line-height: 16px;
}
#abe-preview-header-title {
  width: 100%;
}
#abe-preview {
  background: #fff;
  min-height: 100vh;
  width: 100vw;
  margin: 0 auto;
  max-width: 960px;
  margin-top: 56px;
}
