body {
  background: #444;
}
#abe-preview-header {
  background-image: linear-gradient(90deg,#94103e 0,#db004d);
  height: 56px;
}
#abe-preview-header > a {
  color: white;
}
#abe-preview {
  background: #fff;
  min-height: 100vh;
  margin: 0 auto; 
  max-width: 960px;
  margin-top: 56px;
}
