* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
body {
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif;
}
.www-components-sec-nav {
  min-width: 200px;
}
.ampstart-headerbar-nav .ampstart-nav-item.www-current-page {
  color: #B60845;
}
.ampstart-nav-dropdown .ampstart-dropdown-item {
  color: #B60845;
  margin: 0;
}
.ampstart-icon, .ampstart-sidebar .ampstart-icon {
  fill: #B60845;
}
.ampstart-dropdown-item a {
  display: block;
  padding: 8px;
}
.ampstart-sidebar .ampstart-dropdown header:active,
.ampstart-dropdown-item a:active {
  background: #f2f2f2;
}
.ampstart-sidebar .ampstart-dropdown header {
  padding: 1rem 0;
  margin: 0;
}
.ampstart-sidebar .ampstart-social-follow {
  margin-top: 1rem;
}
.ampstart-dropdown>section>header:after  {
  color: #B60845;
  padding: 0 0 0 0.5rem;
}
.ampstart-sidebar {
  width: 340px;
}

