/* reset */
figure {
  margin: 0;
}
/* layout */
body {
  background: #fff;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}
body a {
  text-decoration: none;
  cursor: pointer;
}
article {
  padding: 0 32px;
  max-width: 2400px;
  margin: auto;
}
article .title {
  text-align: center;
}
.box {
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
  display: flex;
}
.column {
  flex: 1;
  max-width: 800px;
  margin: 0 auto;
  width: 0;
}
/* doc column */
.doc code {
  padding: 1px 5px;
}
.doc {
  background-color: #fff;
  padding-right: 16px;
}
.doc a {
  text-decoration: none;
  cursor: pointer;
}
.doc pre {
 background-color: #f5f5f5;
 padding: 8px;
 margin: 16px 0;
}

.doc amp-img {
  display: block;
  margin: 0 auto;
}

.anchor-trigger {
  float: left;
}
.anchor-trigger:hover + .anchor {
  display: block;
}
.anchor {
  position: relative;
  left: -20px;
  top: 30px;
  display: none;
  vertical-align: middle;
}
.anchor:hover {
  display: block;
}
.anchor-img {
  background-image: -webkit-image-set(
    url(/img/ic_link_black_1x_web_18dp.png) 1x,
    url(/img/ic_link_black_2x_web_18dp.png) 2x
  );
  width: 18px;
  height: 18px;
}

/* code column */
.code {
  background-color: #f5f5f5;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
}

pre {
  white-space: pre-wrap;
  margin: 0;
  width: auto;
  line-height: 20px;
}
code {
  font-size: 12px;
  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
  background-color: #f5f5f5;
}

/* preview column */
.preview {
  background-color: #e0e0e0;
}

/* header */
header {
  margin: 0 auto;
}
header {
  text-align: center;
}
header h1 a {
  text-decoration: none;
  font-weight: 300;
  color: #000;
  padding: 0;
}
header h3 {
  font-weight: 300;
  padding: 0;
}
ul {
  padding-left: 1.3em;
}

/* toolbar */
.toolbar {
  position: absolute;
  top: 22px;
  right: 32px;
}

.action {
  text-decoration: none;
  text-align: end;
  margin: 8px;
  padding-bottom: 2px;
  padding-top: 2px;
  padding-right: 36px;
  padding-left: 8px;
  color: #000;
  display: block;
  border-radius: 2px;
  position: relative;
  line-height: 36px;
  height: 36px;
  min-width: 64px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  float: right;
}

.action:hover {
  background-color: #ccc;
}

.button {
  background: 0 0;
  border: none;
  border-radius: 2px;
  position: relative;
  height: 36px;
  margin: 0;
  min-width: 64px;
  padding: 0 16px;
  display: inline-block;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
}

.button-primary {
  color: #fff;
  background-color: #ff4081;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.gist {
  background-position: right 8px center;
  background-repeat: no-repeat;
  background-image: url(/img/gist.png);
}

.show-preview {
  background-position: right 8px center;
  background-repeat: no-repeat;
  background-image: -webkit-image-set(
    url(/img/ic_play_circle_filled_black_1x_web_24dp.png) 1x,
    url(/img/ic_play_circle_filled_black_2x_web_24dp.png) 2x
  );
}
.exit {
  background-position: right center;
  background-repeat: no-repeat;
  background-image: -webkit-image-set(
    url(/img/ic_close_black_1x_web_24dp.png) 1x,
    url(/img/ic_close_black_2x_web_24dp.png) 2x
  );
}

/* footer */
footer {
  margin-top: 48px;
  margin-bottom: 36px;
  text-align: center;
}

footer ul {
  display: flex;
  padding: 0;
  margin: 0;
  flex-flow: row wrap;
  justify-content: center;
  line-height: 12px;
}

footer ul a {
  display: flex;
  padding: 0;
  margin: 0;
  flex-flow: row wrap;
  justify-content: center;
  line-height: 12px;
  text-decoration: none;
  cursor: pointer;
}

footer li:first-child {
  border-left: none;
}

footer li {
  display: block;
  padding: 0 1em;
  border-left: 1px solid #000;
}

/* cards */

.card {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  float: none; 
  overflow: hidden;
  padding: 8px;
  border-radius: 2px;
  margin: 16px 0;
}

.info-card {
  background: #ccc;
}

.warning {
  background-color: #FFF9C4;
}

.show-on-mobile {
  display: none;
}
.hide-on-mobile {
  display: block;
}
.hide {
  display: none;
}

@media (max-width: 1280px) {
  article {
    padding: 0 20px;
  }
  .toolbar {
    right: 20px;
  }
}
@media (max-width: 800px) {
  body {
    margin: 0;
  }
  article {
    padding: 0;
  }
  header h1 {
    margin: 0;
  }
  header h1 a {
    font-size: 36px;
    font-weight: 300;
    padding-bottom: 16px;
  }
  article .title {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
  }
  .hide-on-mobile {
    display: none;
  }
  .show-on-mobile {
    display: block;
  }
  .column {
    flex: none;
    width: auto;
  }
  .box {
    display: block;
    margin: 0;
  }
  .doc {
    padding: 16px;
    margin: 0;
    float: none;
  }
  .preview {
    margin: 0;
  }
  header {
    padding: 16px;
    padding-top: 48px;
  }
  .toolbar {
    top: 16px;
    right: 16px;
  }
  footer {
    padding: 16px;
  }
  .anchor-trigger {
    float: none;
  }
  .anchor-trigger:hover + .anchor {
    display: none;
  }
}
