/* reset */
  everflow-wrap: break-word;
figure, ul, ol {
  margin: 0;
  padding: 0;
}
/* layout */
body {
  background: #fafafa;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main, article {
  flex: 1;
  width: 100%;
}
body a {
  text-decoration: none;
  cursor: pointer;
}
p, h1, h2, h3, h4, h5, h6, figcaption, div.preview > a {
  padding: 0 16px;
}
ul, ol {
  margin: 0 16px;
  padding: 16px;
}
article {
  padding: 0;
  max-width: 2400px;
  margin: auto;
}
article #title {
  text-align: center;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 24px;
}
code, pre {
  background: #ECEFF1;
}
.box {
  clear: both;
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
  display: flex;
}
.column {
  flex: 1;
  max-width: 800px;
  margin: 0 auto;
  width: 0;
}
/* doc column */
.doc code {
  padding: 1px 5px;
}
.doc {
  background-color: #fff;
}
.doc a {
  text-decoration: none;
}
.doc pre > code, .doc pre {
  background-color: white;
}
.doc pre {
  padding: 16px;
  margin: 0;
}

.doc amp-img {
  display: block;
  margin: 0 auto;
}

.anchor-trigger {
  float: left;
}
.anchor-trigger:hover + .anchor {
  display: block;
}
.anchor-target {
  margin: 0;
  padding: 0;
}
.anchor {
  position: relative;
  left: -16px;
  top: 30px;
  display: none;
  vertical-align: middle;
}
.anchor:hover {
  display: block;
}
.anchor-img {
  background-image: -webkit-image-set(
  url(/img/ic_link_black_1x_web_18dp.png) 1x,
  url(/img/ic_link_black_2x_web_18dp.png) 2x
  );
  width: 18px;
  height: 18px;
}

/* code column */
.code {
  background-color: #ECEFF1;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
}

pre {
  white-space: pre-wrap;
  margin: 0;
  width: auto;
  line-height: 20px;
  overflow-wrap: break-word;
}
code {
  font-size: 12px;
  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
  background-color: #ECEFF1;
}

/* preview column */
.preview {
  background-color: #CFD8DC;
}

button, .button {
  background: 0 0;
  border: none;
  border-radius: 2px;
  position: relative;
  height: 36px;
  margin: 0;
  min-width: 64px;
  padding: 0 16px;
  display: inline-block;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  will-change: box-shadow;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
}

.button-primary {
  color: #fff;
  background-color: #eb407a;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.button-inactive {
  color: #666;
  background-color: #aaa;
  cursor: default;
}

/* experiments */

#experiment-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#experiment-toggle, #canary-toggle {
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  width: 160px;
}

.amp-experiment {
  padding-right: 24px;
  background-position: 100% center;
  background-repeat: no-repeat;
  background-image: -webkit-image-set(
  url('/img/ic_experiment_black_1x_web_18dp.png') 1x,
  url('/img/ic_experiment_black_2x_web_18dp.png') 2x );
}

.amp-experiment-medium {
  padding-right: 36px;
  background-position: 100% center;
  background-repeat: no-repeat;
  background-image: -webkit-image-set(
  url('/img/ic_experiment_black_1x_web_24dp.png') 1x,
  url('/img/ic_experiment_black_2x_web_24dp.png') 2x );
}

.amp-experiment-large {
  padding-right: 44px;
  background-position: 100% center;
  background-repeat: no-repeat;
  background-image: -webkit-image-set(
  url('/img/ic_experiment_black_1x_web_36dp.png') 1x,
  url('/img/ic_experiment_black_2x_web_36dp.png') 2x );
}

/* actions */

.gist {
  background-position: right 8px center;
  background-repeat: no-repeat;
  background-image: url(/img/gist.png);
}

.show-preview {
  background-position: right 8px center;
  background-repeat: no-repeat;
  background-image: -webkit-image-set(
  url(/img/ic_play_circle_filled_black_1x_web_24dp.png) 1x,
  url(/img/ic_play_circle_filled_black_2x_web_24dp.png) 2x
  );
}

/* header */
header {
  background-color: #607D8B;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
header #logo {
  align-self: flex-start;
  margin: 0 auto;
  text-align: left;
  font-weight: 300;
  font-size: 38px;
  text-transform: uppercase;
  line-height: 36px;
  color: white;
  padding-left: 46px;
  background-position: left center;
  background-repeat: no-repeat;
  background-image: -webkit-image-set( url(/favicons/android-chrome-36x36.png) 1x, url(/favicons/android-chrome-72x72.png) 2x );
}
header .button {
  margin-left: 16px;
  padding: 0px;
  height: 40px;
  min-width: 40px;
  display: block;
  float: left;
}
header .button > amp-img {
  margin: 8px;
  float: left;
}
header .button > span {
  display: inline-block;
  font-weight: 300;
  line-height: 40px;
  color: white;
  text-transform: uppercase;
}
header #hamburger {
  align-self: flex-start;
  padding: 8px;
  margin-left: 8px;
  margin-top: 4px;
}
header #actions {
  max-width: 50%;
  padding: 0 16px;
  align-self: flex-start;
  margin-left: auto;
  margin-right: 12px;
}

/* sidebar menu */
#drawermenu {
  width: 320px;
  background-color: white;
}
#drawermenu amp-accordion {
  padding-bottom: 24px;
}
#drawermenu .close {
   float:right;
   top: 16px;
   margin-right: 16px;
   cursor: pointer;
}
#drawermenu .close:hover {
    background-color: #ccc;
}
#drawermenu .item a {
    color: #333;
    display: block;
    font-weight: 400;
    letter-spacing: 0.1px;
    padding: 10px 24px 10px 32px;
    white-space: nowrap;
    font-size: 13px;
    -webkit-tap-highlight-color: #eee;
}
#drawermenu .item a:active {
  background-color: #eee;
}
.amp-mode-touch #drawermenu .item a {
    padding-top: 18px;
    padding-bottom: 17px;
}#drawermenu .item amp-img {
    margin-left: 4px;
    vertical-align: text-bottom;
}
#drawermenu .item .selected {
  font-weight: 700;
  color: #eb407a;
}
#drawermenu .expanded {
  background-color: #eee;
}
#drawermenu .category {
  padding-left: 16px;
}
#drawermenu .category a {
  color: #333;
}
#drawermenu h4 {
  font-weight: 700;
  font-size: 13px;
  padding: 0;
  border: 0;
  background-color: white;
  width: 100%;
  line-height: 40px;
}
#drawermenu .topheader {
  margin-top: 16px;
  margin-left: 16px;
}
#drawermenu .home {
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 36px;
  color: rgba(0,0,0,.87);
  padding-left: 0px;
}
#drawermenu section[expanded] .show-more {
  display: none;
}
#drawermenu section:not([expanded]) .show-less {
  display: none;
}

/* footer */
footer {
  background: #607D8B;
  padding-top: 36px;
  padding-bottom: 36px;
}

footer ul {
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding: 0;
  margin: 0;
  line-height: 12px;
}

footer li {
  display: block;
  padding: 0 1em;
  border-left: 1px solid white;
}

footer ul li:first-child {
  border-left: none;
}

footer ul li a {
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  line-height: 12px;
  cursor: pointer;
}

/* FAB */
.fab {
  position: fixed;
  bottom: 5%; /* Adjust height */
  right: 5%; /* Adjust position */
  z-index: 1000;
  background: #eb407a;
  color: #fff;
  line-height: 24px;
  border-radius: 50%;
  height: 56px;
  margin: auto;
  min-width: 56px;
  width: 56px;
  padding: 0;
  box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);
  outline: none;
  cursor: pointer;
}
.fab amp-img {
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-12px,-12px);
  line-height: 24px;
  width: 24px;
}

/* cards */
.card {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  float: none;
  overflow: hidden;
  padding: 8px;
  margin: 16px;
  border-radius: 2px;
}

.card h4 {
  margin-top: 0;
  padding: 0;
}

.card p {
  margin-top: 8px;
  padding: 0;
}

.info {
  background: #ccc;
}

.important {
  background: #FFF9C4;
}

.show-on-mobile {
  display: none;
}
.hide-on-mobile {
  display: block;
}
.hide {
  display: none;
}

@media (max-width: 700px) {
  .hljs {
    padding: 0 16px;
  }
  article {
    padding: 0;
  }
}
@media (max-width: 1024px) {
  body {
    background: white;
  }
  article {
    margin-top: 56px;
  }
  header {
    height: 56px;
    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  header #actions {
    padding: 8px 16px;
    margin-right: 0px;
  }
  header .button > span {
    display: none;
  }
  header #hamburger {
    padding: 8px;
    margin: 0;
  }
  header .hide-on-mobile {
    display: none;
  }
  header #logo {
    width: auto;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    background-image: none;
    align-self: center;
  }
  .card {
    margin: 16px;
  }
  .column {
    flex: none;
    width: auto;
    max-width: 1280px;
  }
  .box {
    display: block;
    margin: 0;
  }
  .doc {
    padding: 0;
    margin: 0;
    float: none;
  }
  .code {
    padding: 8px;
    margin: 16px;
  }
  .preview {
    padding: 0px;
    margin: 16px;
  }
  .anchor-trigger {
    float: none;
  }
  .anchor-trigger:hover + .anchor {
    display: none;
  }
  .hide-on-mobile {
    display: none;
  }
  .show-on-mobile {
    display: block;
  }
}
/* form */
form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 16px;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0;
  color: rgb(97, 97, 97);
}

input[type=text], input[type=email], input[type=date] {
    display: block;
    font-family: "Helvetica","Arial",sans-serif;
    margin: 0;
    margin-bottom: 16px;
    width: 100%;
    text-align: left;
    color: inherit;
    outline: none;
}

.data-input {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.12);
    font-size: 16px;
    margin-bottom: 16px;
    padding: 4px 0;
    background: 0 0;
    color: inherit;
    outline: none;
    background: 0 0;
}

.search-input {
  float: left;
  border: 1px solid;
  border-color: #ddd;
  height: 43px;
  padding: 0px;
  font-size: 20px;
}

.search-input-submit {
        top: -61px;
        float: right;
        font-size: 16px;
        margin-top: 1px;
        background-color: rgb(66,133,244);
        height: 43px
    }
