<!--
With AMP, you can easily pull in different latest offers or highlights without changing the page. To do so, just use `amp-list` to fire a CORS request to a JSON endpoint which supplies the list of related products. These are populated into an amp-mustache template on the client.
 Learn more about `amp-list` [here](/components/amp-list/) 
-->
<amp-list class="items"
          width=200
          height=100
          layout=responsive
          src="/json/related_products.json">
  <template type="amp-mustache">
    <a class="tile item" href="/samples_templates/product/preview/">
      <amp-img width="640"
               height="426"
               layout="responsive"
               alt="{{name}}"
               src="{{img}}"></amp-img>
             <p class="name">{{name}}</p>
             <p class="star">{{{stars}}}</p>
             <p class="price">${{price}}</p>
    </a>
  </template>
</amp-list>
