<script>
function getUrlParameter(name) {
    var url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
}
const story = document.querySelector('amp-story');
const pageId = getUrlParameter('id');
story.addEventListener('ampstory:load', function() {
  const event = new CustomEvent('ampstory:switchpage',  { 
    bubbles: true, 
    detail: { 
      targetPageId: pageId
    }
  });
  story.dispatchEvent(event);
});
</script>
