<h2 id="introduction" class="www-heading pb4 mb2 relative h3">About AMPHTML Email</h2>
<p class="mb2 px1">The <a href="https://www.ampproject.org/docs/interaction_dynamic/amp-email-format">AMPHTML Email format</a> provides a subset of AMP components that you can use in email messages. Recipients of AMP emails can view and interact with the AMP components directly in the email message.</p>
<div class="p1 ampstart-card abe-info">
  <strong>Good to know:</strong> the <a href="https://validator.ampproject.org/#htmlFormat=AMP4EMAIL">AMPHTML Validator</a> features a special validation mode for AMPHTML Email messages.
</div>
<p class="mb2 px1">Currently, support in Gmail is planned for later this year and an early developer preview is available. See <a href="https://www.blog.google/products/g-suite/bringing-power-amp-gmail/">Bringing the power of AMP to Gmail</a> for more information.</p>
