{{^includesConsent}}
{{^includesGeo}}
<amp-geo layout="nodisplay">
  <script type="application/json">
    {
      "ISOCountryGroups": {
        "eu": ["at", "be", "bg", "ch", "cy", "cz", "dk", "de", "ee", "el", "es", "fi", "fr", "hr", "ie", "is", "it", "li", "lv", "lt", "lu", "hu", "mt", "nl", "no", "pl", "pt", "ro", "si", "sk", "se", "uk"]
      }
    }
  </script>
</amp-geo>

<amp-consent id="consent" layout="nodisplay">
  <script type="application/json">
    {
      "consents": {
        "eu": {
          "promptIfUnknownForGeoGroup": "eu",
          "promptUI": "consent-popup"
        }
      }
    }
  </script>

  <amp-story-consent id="consent-popup" layout="nodisplay">
    <script type="application/json">
      {
        "title": "",
        "message": "We use cookies to understand how you use our site and to improve your experience. By continuing to use our site, you accept our <a href='https://policies.google.com/technologies/cookies'>use of cookies</a> and <a href='https://policies.google.com/privacy'>privacy policy</a>."
        "vendors": []
      }
    </script>
  </amp-story-consent>
</amp-consent>
{{/includesGeo}}
{{/includesConsent}}
