<!doctype html>
<html ⚡>
  <head>
    {{{head}}}
    {{> head.html}}
    <style amp-custom>
      {{> css/code.css}}
      {{> css/material.css}}
      {{> css/styles.css}}
      {{{exampleStyles}}}
   </style>
  </head>
  <body>
    {{> menu.html}}
    {{#metadata.preview}}
    <a href="preview/" class="fab show-on-mobile">
      <amp-img src="/img/ic_play_arrow_white_2x_web_24dp.png" width="24" height="24"></amp-img>
    </a>
    {{/metadata.preview}}
    {{> header.html}}
    <article>
      <h3>{{title}}</h3>
      {{#metadata.experiment}}
      <div class="box">
        <div class="column doc">
          {{> experiment.html}}
        </div>
        <div class="column code hide-on-mobile">
        </div>
        <div class="column preview hide-on-mobile">
        </div>
      </div>
      {{/metadata.experiment}}
      {{#sections}}
      <div class="box ">
        <div class="column doc {{#hideDocOnMobile}}hide-on-mobile{{/hideDocOnMobile}} {{#metadata.hideDoc}}hide{{/metadata.hideDoc}}">
          {{#markedDoc}}
          <a id="example{{id}}" class="anchor-target"></a>
            {{{this}}}
          <a href="#example{{id}}" class="anchor">
            <div class="anchor-img"></div>
          </a>
          {{/markedDoc}}
          {{#isLastSection}}
          {{#nextExample}}
          <p>
            Next up: 
            <a id="nextArticle" href="{{url}}">{{title}}</a>
          </p>
          {{/nextExample}}
          {{/isLastSection}}
        </div>
        <div class="column code {{#hideCodeOnMobile}}hide-on-mobile{{/hideCodeOnMobile}} {{#metadata.hideCode}}hide{{/metadata.hideCode}}">
          <pre class="hljs"><code class="html">{{{escapedCode}}}</code></pre>
        </div>
        <div class="column preview {{#hidePreviewOnMobile}}hide-on-mobile{{/hidePreviewOnMobile}} {{#metadata.hidePreview}}hide{{/metadata.hidePreview}}">
          {{{preview}}}
        </div>
      </div>
      {{/sections}}
    </article>
    {{> footer.html}}
    {{> analytics.html}}
  </body>
</html>
