<!doctype html>
<html ⚡>
  <head>
    {{{head}}}
    {{> head.html}}
    <style amp-custom>
      {{> css/code.css}}
      {{> css/ampstart.css}}
      {{> css/styles.css}}
      {{{exampleStyles}}}
   </style>
  </head>
  {{{bodyTag}}}
  {{{elementsAfterBody}}}
    {{^isEmbed}}
    {{> menu.html}}
    {{#metadata.preview}}
    <a href="{{urlPreview}}" class="fab show-on-mobile">
      <amp-img src="/img/ic_play_arrow_white_2x_web_24dp.png" width="24" height="24"></amp-img>
    </a>
    {{/metadata.preview}}
    {{> header.html}}
    {{/isEmbed}}
    <article>
      {{^isEmbed}}
      <h1 id="title" class="h2 www-heading caps" >
        {{subHeading}} {{#metadata.experiments.length}}<i class="amp-experiment-large"></i>{{/metadata.experiments.length}}
      </h1>
      {{#github}}
      <a id="github" href="{{github}}" class="mb3">Edit on Github</a>
      {{/github}}
      {{#metadata.experiments.length}}
      <div class="box">
        <div class="column doc">
          {{> experiment.html}}
        </div>
        <div class="column code hide-on-mobile {{#metadata.hideCode}}hide{{/metadata.hideCode}}"></div>
        <div class="column preview hide-on-mobile {{#metadata.hidePreview}}hide{{/metadata.hidePreview}}"></div>
      </div>
      {{/metadata.experiments.length}}
      {{/isEmbed}}
      {{#sections}}
      {{#hideColumns}}
      <amp-accordion class="hidden-section-accordion">
        <section class="hidden-section hide-on-mobile {{#metadata.hideCode}}hide{{/metadata.hideCode}}"> 
          <header class="hidden-section-header">
            <div class="box">
              <div class="column doc"></div>
              <div class="column code">
                <span class="hidden-section-show-more">Show Hidden Code</span>
                <span class="hidden-section-show-less">Hide Code</span>
              </div>
              <div class="column preview {{#metadata.hidePreview}}hide{{/metadata.hidePreview}}"></div>
            </div>
          </header>
          <div>
     {{/hideColumns}}
      <div class="box">
        <div class="column doc {{#hideDocOnMobile}}hide-on-mobile{{/hideDocOnMobile}} {{#metadata.hideDoc}}hide{{/metadata.hideDoc}}">
          {{{markedDoc}}}
          {{^isEmbed}}
          {{#isLastSection}}
          {{#nextExample}}
          <p>
            Next up:
            <a id="nextArticle" href="{{url}}">{{title}}</a>
          </p>
          {{/nextExample}}
          {{/isLastSection}}
          {{/isEmbed}}
        </div>
        <div class="column code {{#hideCodeOnMobile}}hide-on-mobile{{/hideCodeOnMobile}} {{#metadata.hideCode}}hide{{/metadata.hideCode}}">
          <pre class="hljs"><code class="html">{{{escapedCode}}}</code></pre>
        </div>
        <div class="column preview {{#hidePreviewOnMobile}}hide-on-mobile{{/hidePreviewOnMobile}} {{#metadata.hidePreview}}hide{{/metadata.hidePreview}}">
          {{{preview}}}
        </div>
      </div>
      {{#hideColumns}}
      </div>
      </section>
      </amp-accordion>
      {{/hideColumns}}
      {{/sections}}
    </article>
    {{^isEmbed}}
    {{> footer.html}}
    {{/isEmbed}}
    {{> analytics.html}}
    {{> serviceworker.html}}
  </body>
</html>
