{{^includesAnalytics}}
<script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
{{/includesAnalytics}}
{{^includesServiceWorker}}
<script async custom-element="amp-install-serviceworker" src="https://cdn.ampproject.org/v0/amp-install-serviceworker-0.1.js"></script>
{{/includesServiceWorker}}
{{^includesSidebar}}
<script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
{{/includesSidebar}}
{{^includesAccordion}}
<script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
{{/includesAccordion}}
{{^includesSelector}}
<script async custom-element="amp-selector" src="https://cdn.ampproject.org/v0/amp-selector-0.1.js"></script>
{{/includesSelector}}
{{> metadata.html}}
{{> favicons.html}}
