<amp-sidebar id='sidebar' layout="nodisplay">  

  <amp-img class='sidebar-close-image' src="/img/ic_chevron_left_black_24dp_2x.png" width="32" height="32" alt="Home" on="tap:sidebar.close" role="button" tabindex="0"></amp-img>

  <div class="listitem topheader">
    <a href="/" class="homelogo">AMP by Example</a>
  </div>

  <amp-accordion>
  {{#categories}}
    <section>
      <h4 class="listitem categoryheader">
        {{name}}
      </h4>
      <ul class="list">
        {{#examples}}
        <li class="listitem"><a {{#experiment}}class='amp-experiment'{{/experiment}} href="{{url}}">{{title}}</a></li>
        {{/examples}}
      </ul>
    </section>
  {{/categories}}
  </amp-accordion>
</amp-sidebar>
