<title>{{title}}</title>
<meta name="description" content="{{desc}}" />
{{^skipCanonical}}
<link rel="canonical" href="{{canonical}}" >
{{/skipCanonical}}

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="{{title}}">
<meta itemprop="description" content="{{desc}}">
<meta itemprop="image" content="{{leader}}">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@amphtml">
<meta name="twitter:creator" content="@sebabenz">
<meta name="twitter:title" content="{{title}}">
<meta name="twitter:description" content="{{desc}}">
<meta name="twitter:image" content="{{logo}}">
<meta name="twitter:image:alt" content="AMP by Example Screenshot">

<!-- Open Graph data -->
<meta property="fb:app_id" content="254325784911610" />
<meta property="og:title" content="{{title}}" />
<meta property="og:type" content="article" />
<meta property="og:image" content="{{leader}}" />
<meta property="og:url" content="{{canonical}}" />
<meta property="og:description" content="{{desc}}" />
<meta property="og:site_name" content="AMP by Example" />
<meta property="article:published_time" content="{{datePublished}}" />
<meta property="article:modified_time" content="{{dateModified}}" />

<!-- Metadata required by Google for AMP files -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "NewsArticle",
  "mainEntityOfPage": "{{canonical}}",
  "headline": "{{title}}",
  "datePublished": "{{datePublished}}",
  "dateModified": "{{dateModified}}",
  "description": "{{desc}}",
  "author": {
    "@type": "Person",
    "name": "Sebastian Benz"
  },
  "publisher": {
    "@type": "Organization",
    "name": "Google",
    "logo": {
      "@type": "ImageObject",
      "url": "{{logo}}",
      "width": "{{logoWidth}}",
      "height": "{{logoHeight}}"
    }
  },
  "image": {
    "@type": "ImageObject",
    "url": "{{leader}}",
    "height": "{{leaderHeight}}",
    "width": "{{leaderWidth}}"
  }
}
</script>
