<!doctype html>
<html ⚡>
  <head>
    {{{head}}}
    {{> head.html}}
    <style amp-custom>
      {{> css/code.css}}
      {{> css/ampstart.css}}
      {{> css/styles.css}}
      {{> css/preview.css}}
      {{{exampleStyles}}}
    </style>
  </head>
  <body>
    {{{elementsAfterBody}}}
    {{^isEmbed}}
    <div id="close-preview">
      <a href=".." id="exit">
        View annotated Source
      </a>
    </div>
      {{#metadata.experiments.length}}
        {{> experiment.html}}
      {{/metadata.experiments.length}}
    {{/isEmbed}}
    <article id="preview">
      {{#sections}}
      {{{preview}}}
      {{/sections}}
    </article>
    {{> analytics.html}}
    {{> serviceworker.html}}
  </body>
</html>
