<!doctype html>
<html ⚡>
  <head>
    {{{head}}}
    {{> head.html}}
    <style amp-custom>
      {{> css/code.css}}
      {{> css/material.css}}
      {{> css/styles.css}}
      {{> css/preview.css}}
      {{{exampleStyles}}}
    </style>
  </head>
  <body>
    <a href=".." class="exit action">
      View annotated Source 
    </a>
      {{#metadata.experiment}}
        {{> experiment.html}}
      {{/metadata.experiment}}
    <article>
      {{#sections}}
      {{{preview}}}
      {{/sections}}
    </article>
    {{> analytics.html}}
    {{> serviceworker.html}}
  </body>
</html>
