<!doctype html>
<html ⚡4ads>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1">
  <style amp4ads-boilerplate>body{visibility:hidden}</style>
  <script async src="https://cdn.ampproject.org/amp4ads-v0.js"></script>
  {{> render-delaying/amp-experiment-preload.html }}
  {{> render-delaying/amp-dynamic-css-classes-preload.html }}
  {{> fonts/google-preconnect.html }}
  {{> analytics/amp-analytics-import.html }}
  {{> fonts/google-import.html }}
  <style amp-custom>
    h1 {
      margin: 1rem;
    }
  </style>
</head>
<body>
  <h1>Hello, AMP for Ads world.</h1>
  {{> analytics/google.html }}
  {{> analytics/adobe.html }}
</body>
</html>
