<!doctype html>
<html ⚡>
<head>
  <meta charset="utf-8">
  <title>The Scenic</title>
  <link rel="canonical" href="www.ampbyexample.com" >
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

   <script custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js" async></script>
    <script custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js" async></script>
    <script custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js" async></script>
    <script custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js" async></script>

  <link href="dist/css/templates/blog-thescenic.css" rel="stylesheet" amp-custom>

  <script async src="https://cdn.ampproject.org/v0.js"></script>
</head>
<body>
  {{#blog-thescenic}}
    {{> ../components/navbar/navbar.snip.html}}

  <figure class="ampstart-image-fullpage-hero m1 relative">
    <amp-img src="../img/blog-thescenic/cropped_hero.jpg" srcset="../img/blog-thescenic/hero.jpg 1400w, ../img/blog-thescenic/cropped_hero.jpg 640w" width="640" height="960" layout="responsive" class="" heights="(min-width:640px) 67%, 150%"></amp-img>
    <figcaption>
      <h1 class="ampstart-image-heading">Most Beautiful Hikes in Alaska</h1>
      <a class="ampstart-readmore" href="#content">Read more <span aria-hidden="true">v</span></button>
    </figcaption>
  </figure>


  <main id="content" role="main" class="">
    <article class="scenic-article">
      <header>
        <span class="scenic-article-category">Entertainment</span>
        <h1>Most Beautiful Hikes in Alaska</h1>
        <p class="scenic-article-subtitle">Marshmallow pudding chupa chups gummies cake chocolate bar cake jelly-o. Pie ice cream halvah.</p>
        <address class="ampstart-byline">
          <amp-img src="../img/oval.png" layout="fixed" height="60" width="60"></amp-img>
          <a href="#" role="author">Jazzy B</a>
          <time datetime="2016-09-18T12:15">Sept 10, 2016 @12:15 pm</time>
        </address>
        <div class="ampstart-social-box">
          <amp-social-share type="twitter"></amp-social-share>
          <amp-social-share type="facebook"
                            data-param-text="Hello world"
                            data-param-href="https://example.com/?ref=URL"
                            data-param-app_id="145634995501895"></amp-social-share>
          <amp-social-share type="gplus"></amp-social-share>

          <amp-social-share type="pinterest"></amp-social-share>
          <amp-social-share type="email" data-param-subject="Hello World" data-param-body="What's up?"></amp-social-share>
        </div>
      </header>
      <section>
<!--style the drop cap with https://css-tricks.com/snippets/css/drop-caps/ and use border/ :before to draw the line on top -->
        <p class="ampstart-dropcap">
          Marshmallow pudding chupa chups gummies cake chocolate bar cake jelly-o. Pie ice cream halvah. Fruitcake chocolate cake tootsie roll wafer tootsie roll chocolate bar pudding tart danish. Tootsie roll dragée sweet roll cotton candy tart.
        </p>
        <p>
          <amp-carousel type="slides" layout="fixed" width="360" height="242">
            <figure class="ampstart-image-with-caption">
              <amp-img src="../img/rectangle1.png" width="360" height="242" layout="responsive"></amp-img>
              <figcaption>My Little Cupcakes1</figcaption>
            </figure>

            <figure class="ampstart-image-with-caption">
              <amp-img src="../img/rectangle1.png" width="360" height="242" layout="responsive"></amp-img>
              <figcaption>My Little Cupcakes2</figcaption>
            </figure>

            <figure class="ampstart-image-with-caption">
              <amp-img src="../img/rectangle1.png" width="360" height="242" layout="responsive"></amp-img>
              <figcaption>My Little Cupcakes3</figcaption>
            </figure>

            <figure class="ampstart-image-with-caption">
              <amp-img src="../img/rectangle1.png" width="360" height="242" layout="responsive"></amp-img>
              <figcaption>My Little Cupcakes4</figcaption>
            </figure>
          </amp-carousel>
          <p class="scenic-article-carousel-title">Marshmallow pudding chupa chups gummies cake chocolate bar cake jelly-o. Pie ice cream halvah.</p>
        </p>

        <p>
          Liquorice brownie biscuit powder jelly-o candy toffee. Oat cake tootsie roll toffee cake gummi bears sweet roll candy chocolate. Jelly beans jelly chocolate bar gingerbread bear claw cake. Toffee jelly-o gummi bears biscuit gummi bears cake soufflé jelly-o. Soufflé halvah wafer soufflé jujubes tart chocolate cake. Pie cupcake lemon drops chupa chups gummies sweet gingerbread. Powder ice cream cheesecake cookie oat cake bear claw cookie jujubes. Carrot cake tart jelly beans bonbon muffin. Sesame snaps tart soufflé bear claw cotton candy jujubes pudding cookie powder.
        </p>

        <blockquote class="ampstart-pullquote" cite="http://example.org">
          Cupcake apple pie sugar plum dragée cotton candy. Marshmallow carrot cake cheesecake. Soufflé lemon drops soufflé apple pie cake wafer donut chocolate.
        </blockquote>
        <p>
          Liquorice brownie biscuit powder jelly-o candy toffee. Oat cake tootsie roll toffee cake gummi bears sweet roll candy chocolate. Jelly beans jelly chocolate bar gingerbread bear claw cake. Toffee jelly-o gummi bears biscuit gummi bears cake soufflé jelly-o. Soufflé halvah wafer soufflé jujubes tart chocolate cake. Pie cupcake lemon drops chupa chups gummies sweet gingerbread. Powder ice cream cheesecake cookie oat cake bear claw cookie jujubes. Carrot cake tart jelly beans bonbon muffin. Sesame snaps tart soufflé bear claw cotton candy jujubes pudding cookie powder.
        </p>

        <figure class="image-with-caption-credit">
          <amp-img src="../img/rectangle1.png" width="360" height="242" layout="responsive"></amp-img>
          <figcaption>
            Description of the photograph.
            <span class="credit">Taken By <a href="#" role="author">James Victore</a></span>
          </figcaption>
        </figure>


        <figure class="image-with-caption-credit">
          <amp-img src="../img/rectangle1.png" width="304" height="311" layout="responsive"></amp-img>
          <figcaption>
            Description of the photograph.
            <span class="credit">Taken By <a href="#" role="author">James Victore</a></span>
          </figcaption>
        </figure>

        <figure class="image-with-caption-credit">
          <amp-img src="../img/rectangle1.png" width="360" height="242" layout="responsive"></amp-img>
          <figcaption>
            Description of the photograph.
            <span class="credit">Taken By <a href="#" role="author">James Victore</a></span>
          </figcaption>
        </figure>

        <p>
          Liquorice brownie biscuit powder jelly-o candy toffee. Oat cake tootsie roll toffee cake gummi bears sweet roll candy chocolate. Jelly beans jelly chocolate bar gingerbread bear claw cake. Toffee jelly-o gummi bears biscuit gummi bears cake soufflé jelly-o. Soufflé halvah wafer soufflé jujubes tart chocolate cake. Pie cupcake lemon drops chupa chups gummies sweet gingerbread. Powder ice cream cheesecake cookie oat cake bear claw cookie jujubes. Carrot cake tart jelly beans bonbon muffin. Sesame snaps tart soufflé bear claw cotton candy jujubes pudding cookie powder.
        </p>
      </section>

      <section>
        <h2>Related article</h2>

        <figure class="image-with-caption-credit">
          <amp-img src="../img/rectangle1.png" width="360" height="242" layout="responsive"></amp-img>
          <figcaption>
            The Best Road Trips in Alaska
          </figcaption>
        </figure>
        <a href="#" class="scenic-article-readmore">Read More</a>
      </section>

      <section class="ampstart-related-section">
        <h2 class="h3">Featured</h2>
        <ul id="article-list"class="list-reset flex flex-wrap h4">
          <li>
            <figure class="image-with-caption-credit">
              <amp-img src="../img/rectangle1.png" width="800" height="528" layout="responsive"></amp-img>
              <figcaption>
                The most scenic vacation adventures
              </figcaption>
            </figure>
          </li>
          <li>
            <figure class="image-with-caption-credit">
              <amp-img src="../img/rectangle1.png" width="800" height="528" layout="responsive"></amp-img>
              <figcaption>
                The worlds best beaches
              </figcaption>
            </figure>
          </li>
          <li>
            <figure class="image-with-caption-credit">
              <amp-img src="../img/rectangle1.png" width="800" height="528" layout="responsive"></amp-img>
              <figcaption>
                Must have gear for your next trip
              </figcaption>
            </figure>
          </li>
        </ul>
      </section>
    </article>
  </main>
  <footer>
    <div class="ampstart-social-box">
      <amp-social-share type="twitter"></amp-social-share>
      <amp-social-share type="facebook"
                        data-param-text="Hello world"
                        data-param-href="https://example.com/?ref=URL"
                        data-param-app_id="145634995501895"></amp-social-share>
      <amp-social-share type="gplus"></amp-social-share>

      <amp-social-share type="pinterest"></amp-social-share>
      <amp-social-share type="email" data-param-subject="Hello World" data-param-body="What's up?"></amp-social-share>
    </div>

    <nav>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">terms</a></li>
      </ul>
    </nav>

    <small>© Your Company, 2016</small>
  </footer>
  {{/blog-thescenic}}
</body>
</html>
